body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(172, 155, 231), #b38be7);
    color: #fff;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;

  } 
  header h1{
    color: #b781ff;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff7e5f;
  }
  
  #home{
    margin-top: 140px;
  }
  .section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  
  .section .content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .portfolio-item {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .portfolio-item h3 {
    margin-top: 0;
  }
  
  .portfolio-item p {
    font-size: 0.9em;
    margin: 10px 0;
  }
  
  .portfolio-item a {
    color: #ff7e5f;
    text-decoration: none;
    font-weight: bold;
  }
  
  .portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    max-width: 100%;
    border: none;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    border: none;
    background-color: #ff7e5f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #feb47b;
  }
  
  @media (max-width: 768px) {
    .portfolio-item {
      width: 100%;
    }
  }
  